body {
    background-color: burlywood;
}

.jumbotron {
  text-align: center; 
  background-color: rgb(107, 70, 45); 
  color: whitesmoke;
  box-shadow: 5px 5px 3px rgb(141, 100, 72);
}

form {
  width: 75%;
  margin: auto;
}

form .btn {
  margin: 1em auto 1em auto;

}